﻿@model Docuit.Web.ViewModels.DocumentViewModel
@{
}

<div>
    <h1 class="display-4">Document Received
    </h1>

    <p>We received your document. Thank you!</p>
    <p>Document ID: @Model.DocumentId</p>
</div>
