﻿@model Docuit.Web.ViewModels.FormViewModel
@{
    //ViewData["Title"] = "Home Page";
    ViewBag.Title = "Home Page";
}

<div>
    <h1 class="display-4">Upload Document</h1>
    <p>Upload a file for processing</p>
</div>

@using(Html.BeginForm("Index", "Home", FormMethod.Post,new {enctype="multipart/form-data" } )){

    <div class="mb-3">
        <label asp-for="@Model.DocumentTypeId" class="form-label">Document Type</label>
        <select asp-for="@Model.DocumentTypeId" asp-items="@Model.DocumentTypes" class="form-select form-control"></select>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.FileUpload" class="form-label">File</label>
        <input asp-for="@Model.FileUpload" type="file" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

}